doctype
html
  head
    link(href='http://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/main.css")
    meta(name="viewport" content="initial-scale=1")
  body
    nav
      ul
        li: a(href="/") Home
    .box
      != yield

    script(src="/find-and-replace-dom-text.js")
    script(src="/typography.js")

    script.
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://a.poemofthemangod.org/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();

    noscript
      p
        img(src="https://a.poemofthemangod.org/piwik/piwik.php?idsite=1" style="border:0;" alt="")
